/* Formatação Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: rgb(255, 255, 255);
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contatos button{
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 600; /*Peso da fonte*/
    cursor: pointer;
    background: #FFF;
    color: #C73EEE;
    border-color: #C73EEE;
    transition: .2s;
    margin-bottom: 5px;
}

h2.title{
    color: #FFF;
    font-size: 35px;
    text-align: center;
}

/* Cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between; /*O máximo possível distante do outro*/
}

#logo img{
    width: 60px;
}

header a{
    text-decoration: none;
    color: #C73EEE;
    display: inline-block; /*Se for apenas inline ele não vai receber a transição*/
    transition: .2s;
}

header a:hover{
    color: #e38ffb;
    transform: scale(1.05); /*Para da zoom*/
}

header a i{
   margin-right: 5px; 
   font-size: 20px;
}


header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline;
    padding: 0 20px;
}


.btn-contatos button:hover{
    box-shadow: 0px 0px 8px #c83eee62;
    transform: scale(1.05);
    color: #e38ffb;
}

/* ----- Main------ */
/* Topo do site */
main .img-topo-site img{
    width: 300px;
    border-radius: 60px 20px;
    box-shadow: 0px 0px 20px #c83eee62; 
}

section.topo-site{
    padding: 40px 4%;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.topo-site .txt-topo-site h1{
    font-size: 30px;
}

.topo-site .txt-topo-site p{
    margin: 30px 0;
}

/* Aplicando animação na imagem Perfil*/
@keyframes flutuacao{
    /* Quando estiver em 0% a distância do topo será 0 */
    0%{
        top: 0;
    }
    /* Quando estiver em 100%, ou sej,a finalizando a distância do topo será 30px */
    100%{
        top: 30px;
    }
}

/* A animação só funciona se o position estiver diferente de absolute */
.topo-site .img-topo-site img{
    position: relative;
    animation: flutuacao 2s ease-in-out infinite alternate; /*Chama a animação, define velocidade, vai comecar suava e termina suave, ficar infinitamente funcionando, vai ficar alternando*/
}

/* Section Especialidade */
section.especialidade{
    margin-top: 20px;
    padding: 40px 4%;
    background: #C73EEE;
}

section.especialidade .flex{
    gap: 60px;
}

.especialidade .box{
    color: #FFF;
    width: 250px;
    padding: 30px;
    margin-top: 40px;
    border-radius: 20px;
    transition: .2s;
}

.especialidade .box:hover{
    transform: scale(1.05);
    box-shadow:  0 0 20px #ffffff76;
}

.especialidade .box i{
    font-size: 50px;
    color: black;
}

.especialidade .box h3{
    font-size: 22px;
    margin: 15px 0;
}

/* Section projetos */
section.projetos{
    background: rgb(255, 255, 255);
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffffb7;
}

section.projetos .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-projetos{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    border: 1px solid #e48ffb42;
}

.img-projetos:hover{
    background-position: 100% 100%;
    box-shadow: 0px 0px 20px #c83eee62; 
}

section.projetos h2{
    color: #C73EEE;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000003e;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* Section Conquistas */
section.conquistas{
    margin-top: 20px;
    padding: 40px 4%;
    background: #C73EEE;
    box-shadow: 0 0 40px 10px #ffffffb7;
}

.conquistas .img-conquistas{
    margin-right: 20px;
    margin-top: 30px;
}

.conquistas .img-conquistas img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* Deixando o site responsivo */
@media screen and (max-width: 1098px){
    /* Classes gerais */
    .flex{
        /* Inverte para coluna */
        flex-direction: column;
    }

    .topo-site .flex{
        /* Inverte a ordem do texto com a imagem */
        flex-direction: column-reverse;
    }

    h2.title{
        font-size: 30px;
    }

    /* Cabeçalho */
    .menu-desktop, .btn-contatos{
        display: none;
    }

    /* Topo do site - titulo */
    section.topo-site{
        padding:20px 8%;
    }

    .topo-site .txt-topo-site h1{
        font-size: 20px;
    }

    .topo-site .img-topo-site img{
        width: 100%;
    }

    section.topo-site .flex{
        gap: 40px;
    }

    /* Especialidades */
    section.especialidade{
        padding: 40px 8%;
    }

    /* Projetos */
    section.projetos{
        padding: 80px 8%;
    }

    .img-projetos{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.projetos .flex{
        gap: 60px;
    }
    

}

@media screen and (max-width: 1103px){
    section.especialidade{
        columns: 2;
    }
}

@media screen and (max-width: 531px){
    section.especialidade{
        columns: 1;
    }
}





